@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h4, h6 {
    transform: scale(1.5);
    margin: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}
